.bg-white {
    background-color: white;
}

/* padding */
.px-1 {
    padding: 0 1rem 0 1rem;
}
.px-2 {
    padding: 0 2rem 0 2rem;
}
.py-1 {
    padding: 1rem 0 1rem 0;
}
.py-2 {
    padding: 2rem 0 2rem 0;
}

/* Icons */
.center {
    width: 50%;
    align-self: center;
    text-align: center;
    font-size: 1.25rem;
}
